@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title - Contoso University</title>
    @Styles.Render("~/bundles/appcss")
</head>
<body>

<div class="container">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/vendorjs")
@Scripts.Render("~/bundles/appjs")

<script>
    contosoUniversity.shared.initialise();
    @RenderSection("scripts", false)
</script>
</body>
</html>