@using System.Web.Optimization

<!doctype html>
<html lang="en-AU">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Contoso University</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/vendorjs")
    @Scripts.Render("~/bundles/appjs")

    <script>
    contosoUniversity.shared.initialise();
    @RenderSection("scripts", false)
    </script>
</body>
</html>