@using System.Web.Optimization

<!doctype html>
<html lang="en-AU">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Contoso University</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/bundles/app-css")
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/vendor-js")
    @Scripts.Render("~/bundles/app-js")

    <script>
    contosoUniversity.shared.initialise();
    @RenderSection("scripts", false)
    </script>
</body>
</html>